<ActionBar>
    <!-- 
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
    <NavigationButton
      ios:visibility="collapsed"
      icon="res://menu"
      (tap)="onDrawerButtonTap()"
    ></NavigationButton>
    <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
    <ActionItem
      icon="res://menu"
      android:visibility="collapsed"
      (tap)="onDrawerButtonTap()"
      ios.position="left"
    >
    </ActionItem>
    <Label text="HotelsDetails"></Label>
  </ActionBar>
  
  <StackLayout class="page__content">
    <Label class="page__content-placeholder fas" text="Hotel 1" height="150" fontSize="72" margin="10"></Label>
    <!-- <Image src="~/images/icon-linux.png" width="72" height="72" margin="3" verticalAlignment="top"></Image> -->
    <PullToRefresh (refresh)="onPull($event)">
        <GridLayout columns="auto, *, auto" rows="auto, 25" verticalAlignment="top" backgroundColor="lightgray">
            <Image src="res://ic_gavel_nuevo" rowSpan="2" width="72" height="72" margin="3" verticalAlignment="top"></Image>
            <Label text="Excelente hotel!" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"></Label>
            <Label text="Usuario: Noel Vaca" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
            <Label text="Puntaje: 4.3" col="2" row="1" color="#10C2B0" fontSize="14" verticalAlignment="bottom" margin="3"></Label>
        </GridLayout>
    </PullToRefresh>
    <!-- <PullToRefresh (refresh)="onPull($event)">
      <ListView
        class="list-group"
        [items]="this.noticias.buscar()"
        (itemTap)="onItemTap($event)"
        style="height: 1250px"
      >
        <ng-template let-x="item">
          <FlexboxLayout flexDirection="row" class="list-group-item">
            <Image src="res://icon" class="thumb img-circle"></Image>
            <Label
              [text]="x"
              class="list-group-item-heading"
              verticalAlignment="center"
              style="width: 60%"
            ></Label>
          </FlexboxLayout>
        </ng-template>
      </ListView>
    </PullToRefresh> -->
  </StackLayout>
  